.cover__link {
  display: block;
  text-decoration: none;
  color: #fff;
  position: relative;
  background-image: url(../../../images/cover__image.jpg);
  background-size: cover;
  background-position: center;
  padding: 33px 16px;
  z-index: 0;
  cursor: url(../../../images/Cursor/pointer.svg), pointer;
}

.cover__link::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2A2C2F;
  opacity: .3;
  z-index: -1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.cover__link:hover::after {
  opacity: 0.8;
}

@media (min-width:450px){
  .cover__link{
    padding: 90px 104px;
  }
}

@media (min-width:767px){
  .cover__link{
    padding: 115px 104px;
  }
}

@media (min-width:1024px){
  .cover__link{
    padding: 195px 232px;
  }
}

@media (min-width:1280px){
  .cover__link{
    padding: 245px 312px;
  }
}