.photo-grid{
  max-width: 1184px;
  width: 100%;
  margin: 92px auto;
}

@media (max-width:1024px){
  .photo-grid{
    max-width: 928px;
}
}

@media (max-width:879px){
  .photo-grid{
    max-width: 720px;
    margin: 88px auto;
}
}

@media (max-width:583px){
  .photo-grid{
    max-width: 350px;
    margin: 64px auto;
}
}

@media (max-width:360px){
  .photo-grid{
    max-width: 288px;
}
}
