.place__content{
  display: flex;
  flex-direction: row;
}

@media (max-width:926px){
  .place__content{
    margin-left: 48px;
  }
}

@media (max-width:768px){
  .place__content{
    margin-left: 0;
  }
}

@media (max-width:720px){
  .place__content{
    margin-left: 24px;
  }
}

@media (max-width:620px){
  .place__content{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
}

@media (max-width:360px){
  .place__content{
    align-items: center;
    max-width: 320px;
    margin: 0;
  }
}