.footer__link{
  font-family:'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #fff;
}

.footer__link:hover{
  cursor: pointer;
}


@media (max-width: 320px){
  .footer__link{
    max-width: 320px;
    font-size: 24px;
    line-height: 24px;
  } 
}