.footer__links{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 465px;
  width: 100%;
}

@media (max-width: 630px){
  .footer__links{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 186px;
    min-height: 310px;
  } 
}


@media (max-width: 320px){
  .footer__links{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 186px;
    min-height: 310px;
  } 
}