.photo-grid__grid{
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 213px 213px 213px;
  list-style: none;
  gap: 16px;
}

@media (max-width:1024px){
  .photo-grid__grid{
    max-width: 928px;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 225px 225px 225px;
    gap: 14px;
  }
}

@media (max-width:768px){
  .photo-grid__grid{
    max-width: 720px;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 264px 264px;
    gap: 16px;
  }
}

@media (max-width:600px){
  .photo-grid__grid{
    max-width: 600px;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 300px;
  }
}

@media (max-width:320px){
  .photo-grid__grid{
    min-width: 288px;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 216px;
  }
}