.website{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 484px;
  height: 46px;
  align-self: flex-end;
  margin-left: 40px;
}


@media (max-width:1024px){
  .website{
    max-width: 456px;
    margin-left: 32px;
  }
}

@media (max-width:768px){
  .website{
    max-width: 352px;
    margin-left: 28px;
  }
}

@media (max-width:320px){
  .website{
    max-width: 288px;
    margin-top: 32px;
    align-self: flex-start;
    margin-left: 16px;
    
  }
}
