.place__website{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  margin-left: 40px;
}

@media (max-width:768px){
  .place__website{
    margin-left: 60px;
  }
}

@media (max-width:620px){
  .place__website{
    max-width: 288px;
    margin-top: 32px;
    margin-left: 0px;
    align-self: flex-start;

    
  }
}

@media (max-width:320px){
  .place__website{
    max-width: 288px;
    margin-top: 32px;
    align-self: flex-start;
    margin-left: 16px;
    
  }
}
