.cover__content{
  position: relative;
  background-image: url(../../../images/cover__image.jpg);
  background-size: contain;
  padding: 245px 312px;
  z-index: 2;
  color: #fff;
  text-align: center;
}

.cover__content::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2A2C2F;
  opacity: .3;
  z-index: -1;
  transition: opacity 0.3s ease-in-out;
}

.cover__content:hover::after {
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width:1024px){
  .cover__content{
    padding: 195px 232px;
  }
}

@media (max-width:768px){
  .cover__content{
    padding: 115px 104px;
    background-size: cover;
  }
}

@media (max-width:500px){
  .cover__content{
    padding: 40px 60px;
  }
}

@media (max-width:320px){
  .cover__content{
    padding: 33px 16px;
  }
}